target/
!**/src/main/**/target/
!**/src/test/**/target/
knotenhirn.log*
neo4j
.claude
CLAUDE.md

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store".idea/" 
